<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>BOSTON Model</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="login">
  <h1>BOSTON Model</h1>
  
  <form  action="{{ url_for('predict')}}" method="POST">
    
        <input type="number" value="" title="" name="TextEdit3" step="1"  id="edit_276db422" required="required"  >
                <span class="textstyle3">CRIM<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit4" step="1"  id="edit_4c46cf44" required="required" >
                <span class="textstyle3">ZN<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_5d6e8fc5" required="required" >
                <span class="textstyle3">CHAS<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_7912be8c" required="required" >
                <span class="textstyle3">NOX<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_552b321a" required="required" >
                <span class="textstyle3">RM<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_3af796a8" required="required" >
                <span class="textstyle3">DIS<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_6771e4d8" required="required" >
                <span class="textstyle3">PTRATIO<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_7e87c8e1" required="required" >
                <span class="textstyle3">B<br/><br/></span>
        <input type="number" value="" title="" name="TextEdit1" step="1"  id="edit_633d4dc3" required="required" >
                <span class="textstyle3">LSTAT<br/><br/><br/></span>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        
   </form>
   
   <br>
   <br>
   {{ prediction_text }}
   
    </div>
     
</body>
</html>